<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">탐북은 이런 회사입니다.</h3>
                </div>
            </div>
            <div class="row" style = "padding: 0px 40px 0px 40px">
                <div class="col-lg-12">
                    <ul>
                        <li>
                            <div>
                                <div class="timeline-heading">
                                    <h4>2013 - </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									국내 3만 5천여 출판사들로부터 책들이 쏟아져 나오고, 많은 책들이 더 많은 독자들에게로 전달되어 기쁨과 꿈을 전해주고 있습니다.<br><br>
									
									
									출판물류는 그 통로에 존재합니다.<br><br>
									
									
									이 과정에서 많은 출판사들이 책을 독자들에게 선 보이기도 전에 재고관리, 반품관리라는 문제점에 직면하게 됩니다.<br>
									
									최고의 규모와 최신식 시스템을 도입하여 시장을 점유하고 있어도 여전히 재고, 반품과의 전쟁은 숙제로 남아있는 것입니다.<br>
									
									이러한 반품/파손/오배송를 최소화하기 위해 탐북은 정확하게, 정직하게, 깨끗하게 그리고 부지런하게 책을 다루는 것을 최대의 목표로 삼고, 오랫동안 연구하며 노하우를 축적해 나가고 있습니다.<br><br>
									
									 탐북은 향상된 시스템, 깨지지 않는 신뢰, 성실함으로 출판사, 작가, 독자의 책을 통한 커뮤니케이션 통로 역할을 든든하고 우직하게 수행할 것입니다.<br>
									 
									  
									  감사합니다.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
