<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">탐북은 이런 일을 합니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">입고 및 보관</h4>
					<p class="text-muted">
						도서가 입고되면 출판사/도서 종류별로 분류하여 보관을 합니다.<br>
						지속적인 창고 관리를 통해 더욱 안전하고 정돈된 보관을 합니다.
					</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">출고</h4>
                    <p class="text-muted">
						출판사에서 발주를 받아, 도서를 시내/지방 별로 출고합니다.<br>
						시내와 인터넷 서점은 당일, 지방은 익일 배송됩니다.<br>
						출고 녹화 시스템 도입을 통한 정확한 출고를 지향합니다.
					</p>
                </div>
            </div>
        </div>
    </section>
